[user]
	email = vpervouchine@gmail.com
	name = Vladimir Pervouchine
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	st = status
	unstage = reset HEAD --
[diff]
	tool = vimdiff
[core]
	editor = vim
[pull]
	rebase = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
